<h1>Editing Rotina De Treino</h1>

<%= render 'form', rotina_de_treino: @rotina_de_treino %>

<%= link_to 'Show', rotina_rotina_de_treino_path(@rotina_de_treino) %> |
<%= link_to 'Back', rotina_rotina_de_treino_path %>
