<div class="login-content">
  <div class="col s12 m7">
    <div class="head-login">
      <div class="logo">
        <img src="/images/logo02-cor.png" width="100%" alt="MaisGym">
      </div>
      <h2>Seja bem-vindo(a)</h2>
    </div>
    <div class="card horizontal card-login">
      <div class="card-stacked">
        <div class="card-content">
          <form class="col s12" action="/signin" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <input id="email"  name="email" type="email" class="validate" required>
                <label for="email">E-mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Senha</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="1" name="lembrar" class="filled-in" checked="checked"> <span>Manter logado</span>
                  </label>
                </div>
              </div>
            </div>  
            <div class="row">
              <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light" style="width:100%; height:50px;">Logar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-action">
          <a href="/signup">Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>
</div>
