<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-5 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">
            <%# Controle seus treinos de forma eficiente! %>
            Cadastre-se e receba informações sobre o lançamento do mais novo sistema de treinos de musculação!!!
          </h1>
          <a href="#saibamais" class="btn btn-outline btn-xl js-scroll-trigger">Cadastre-se</a>
          <div style="width:100%;text-align:'center';text-align: center;margin-top: 40px;">
            <a href="#features" class="btn-xl js-scroll-trigger" style="color:#FFF;">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <iframe
                width="100%" height="400" 
                src="https://www.youtube.com/embed/etbIrtnNK_s?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
              </iframe>
              <!--<div class="screen">
                
                <%# <img src="/images/demo-screen-1.jpg" class="img-fluid" alt=""> %>
              </div>-->
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="saibamais bg-primary text-center" id="saibamais">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">O que posso fazer na plataforma?</h2>
        
        <p>- Criar sua própria rotina de musculação, adaptada 100% à você e aos seus objetivos.</p>
        <p>- Consultar materiais disponíveis para guiá-lo nos exercícios.</p>
        <p>- Escolher exercícios favoritos.</p>
        <p>- Escolher quantidade de vezes por semana que você consegue treinar.</p>
        <p>- Saber o nível de experiência, possíveis lesões e muito mais.</p>

        <%# <div class="badges">
          <a class="badge-link" href="#"><img src="/images/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="/images/app-store-badge.svg" alt=""></a>
        </div> %>
      </div>
    </div>
  </div>
</section>
<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Objetivos & Benefícios</h2>
      <%# <p class="text-muted">Check out what you can do with this app theme!</p> %>
      <hr>
    </div>
    <div class="row">
      <%# <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="/images/demo-screen-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div> %>
      <div class="col-lg-12 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <div class="feature-item">
                <%# <i class="icon-screen-smartphone text-primary"></i> %>
                <div class="icones">
                  <img src="/images/icones/massa-magra-ou-perda-de-gordura.png" alt="Serve para ganho de massa magra ou perda de gordura.">
                </div>
                <%# <h3>Device Mockups</h3> %>
                <p class="text-muted">Serve para ganho de massa magra ou perda de gordura.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-item">
                <%# <i class="icon-screen-smartphone text-primary"></i> %>
                <%# <h3>Device Mockups</h3> %>
                <div class="icones">
                  <img src="/images/icones/homem-e-mulher.png" alt="Para homens e mulheres.">
                </div>
                <p class="text-muted">Para homens e mulheres.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-item">
                <%# <i class="icon-screen-smartphone text-primary"></i> %>
                <%# <h3>Device Mockups</h3> %>
                <div class="icones">
                  <img src="/images/icones/para-atletas-de-qualquer-nivel.png" alt="Para atletas de qualquer nível (principiante, intermediário ou avançado).">
                </div>
                <p class="text-muted">Para atletas de qualquer nível (principiante, intermediário ou avançado).</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="feature-item">
                <%# <i class="icon-screen-smartphone text-primary"></i> %>
                <%# <h3>Device Mockups</h3> %>
                <div class="icones">
                  <img src="/images/icones/rotinas-de-treinamento.png" alt="Rotina de treinamentos.">
                </div>
                <p class="text-muted">Rotinas de treinamento.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-item">
                <%# <i class="icon-screen-smartphone text-primary"></i> %>
                <%# <h3>Device Mockups</h3> %>
                <div class="icones">
                  <img src="/images/icones/para-todas-as-idades.png" alt="Para todas as idades.">
                </div>
                <p class="text-muted">Para todas as idades.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-item">
                <%# <i class="icon-screen-smartphone text-primary"></i> %>
                <%# <h3>Device Mockups</h3> %>
                <div class="icones">
                  <img src="/images/icones/mais-de-200-exercicios.png" alt="Mais de 200 exercícios.">
                </div>
                <p class="text-muted">Mais de 200 exercícios.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="btn-cadastre-se">
              <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Cadastre-se</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Stop waiting.<br>
        Start building.</h2>
      <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>
-->
<section class="contact bg-primary" id="contact">
  <div class="container">
    <h2>We
      <i class="fas fa-heart"></i>
      new friends!</h2>
    <form class="form-cadastro" action="/cadastro" method="POST">
      <div class="form-label-group">
        <label for="inputNome">Nome</label>
        <input type="text" id="inputNome" class="form-control" placeholder="Nome" name="nome" required="">
      </div>
      <div class="form-label-group">
        <label for="inputEmail">E-mail</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" name="email" required="">
      </div>
      <div class="form-label-group">
        <label for="inputSexo">Sexo</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="sexo">
          <option selected>Selecione...</option>
          <option value="m">Masculino</option>
          <option value="f">Feminino</option>
        </select>
      </div>
      <div class="form-label-group">
        <%= recaptcha_tags %>
      </div>
      <div class="form-label-group">
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Cadastrar</button>
      </div>
    </form>
    <%# <ul class="list-inline list-social">
      <li class="list-inline-item social-twitter">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item social-facebook">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item social-google-plus">
        <a href="#">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
    </ul> %>
  </div>
</section>
<!--
<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Discover what all the buzz is about!</h2>
        <p>Our app is available on any mobile device! Download now to get started!</p>
        <div class="badges">
          <a class="badge-link" href="#"><img src="/images/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="/images/app-store-badge.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<footer>
  <div class="container">
    <p>&copy; MaisGym 2020. Todos os direitos reservados.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Privacy</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Terms</a>
      </li>
      <li class="list-inline-item">
        <a href="#">FAQ</a>
      </li>
    </ul>
  </div>
</footer>
