<br>
<h1>Adicionar Novo Treino</h1>
<div class="form-group">
  <%= link_to 'Voltar', trainings_path, :class => 'btn btn-secondary right' %>
</div>
<br>
<%= render 'form', training: @training %>
<%# <%= link_to 'Show', @training %>
