<h1>Editing Item Training</h1>
<%= render 'form', item_training: @item_training %>
<%# <%= link_to 'Show', @item_training %>
<%= link_to 'Show', training_item_training_path(@training, @item_training) %> |
<%= link_to 'Back', training_item_trainings_path %>
