/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,
body {
  margin: 0;
  height: 100%;
}
body {
  background-color: #222221;
}
a:hover {
  background: none;
}
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background: #000 url(/images/bg-head-edited.jpg) center top no-repeat;
  background-size: cover;
  min-height: 100%;
  padding: 0 20px;
}
.head-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-login img {
  width: 150px;
}
.login-content h2 {
  text-align: center;
  color: #fff;
  margin: 21px 0 30px;
  font-weight: 500;
  font-size: 32px;
  line-height: 51px;
}
.card-login {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 10px 40px 0 rgb(0 0 0 / 30%);
  max-width: 500px;
  margin: 0 auto !important;
  width: 100%;
}
.card-action {
  text-align: center;
}
.btn-menu {
  display: flex;
}
.logo {
  display: flex;
  flex: 1;
  text-align: center;
}
.logo a {
  width: 100%;
  padding: 16px 0;
}
.logo img {
  width: 100px;
  margin-right: 50px;
}
.sidenav-trigger i {
  color: #000;
  font-size: 36px !important;
}
.sidenav {
  /* background-color: #222221 !important; */
  background-color: #e7b43e !important;
}
nav {
  background-color: #e7b43e !important;
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: block !important;
  }
}
