
<div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="siteModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding:20px;">
        <h2 class="modal-title" id="siteModalLongTitle" style="text-align: center; font-weight:600;letter-spacing: 0px;"><%= msg %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% if type != 'error' %>
        <div class="modal-body" style="padding:20px;">
          <p>
              Você será um dos primeiros a  usar, o mais novo sistema de treinos de musculacão.<br><br>
              Em breve receberá um e-mail com informacões sobre a data de lancamento. <br>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>